/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; 

/* for sidenav to take whole page */
html, body { 
    margin: 0;
    height: 100%;
}